body {
    background-color: #417678;
}

.f4_box {
    position: fixed;
    width: 100%;
    height: 175px;
    left: 0;
    bottom: 0;
    background: url("../images/bg2.png") no-repeat;
    animation: background_move 15s linear infinite;
}

@keyframes background_move {
    0% {}
    100% {
        background-position: -2000px 0;
    }
}

span {
    position: fixed;
    width: 100%;
    height: 175px;
    left: 0;
    bottom: 0;
    background: url("../images/bg1.png") no-repeat;
    animation: background_move1 18s linear infinite;
}

@keyframes background_move1 {
    0% {}
    100% {
        background-position: -2000px 0;
    }
}

.walk01 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 150px;
    opacity: 0;
    z-index: 99;
    -webkit-animation: move01 15s linear infinite;
    -moz-animation: move01 15s linear infinite;
    -ms-animation: move01 15s linear infinite;
    animation: move01 15s linear infinite;
}

.west-01 {
    width: 170px;
    height: 150px;
    background-image: url(../images/02.png);
    background-repeat: no-repeat;
    -webkit-animation: play01 .3s steps(2) infinite;
    -moz-animation: play01 .3s steps(2) infinite;
    -ms-animation: play01 .3s steps(2) infinite;
    animation: play01 .3s steps(2) infinite;
}

@keyframes move01 {
    0% {
        -webkit-transform: translate(-200px, 0);
        -moz-transform: translate(-200px, 0);
        -ms-transform: translate(-200px, 0);
        transform: translate(-200px, 0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(1920px, 0);
        -moz-transform: translate(1920px, 0);
        -ms-transform: translate(1920px, 0);
        transform: translate(1920px, 0);
        opacity: 1;
    }
}

@keyframes play01 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -308px 0;
    }
}

.walk02 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    opacity: 0;
    z-index: 99;
    -webkit-animation: move01 15s linear 2s infinite;
    -moz-animation: move01 15s linear 2s infinite;
    -ms-animation: move01 15s linear 2s infinite;
    animation: move01 15s linear 2s infinite;
}

.west-02 {
    width: 200px;
    height: 100px;
    background-image: url(../images/bear.png);
    background-repeat: no-repeat;
    -webkit-animation: play02 .4s steps(8) infinite;
    -moz-animation: play02 .4s steps(8) infinite;
    -ms-animation: play02 .4s steps(8) infinite;
    animation: play02 .4s steps(8) infinite;
}

@keyframes play02 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1600px 0;
    }
}